

body {
    background-image: url(https://drive.google.com/file/d/0BymlsyFNL9VGQ29ibmJJSm5aVTJ3ZDFtQk9KaWhMd0VBZFA0/view);
}

body {
    font-family: sans-serif;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}