

body {
    background-image: url(https://mail.google.com/mail/u/0/?tab=wm#inbox/15d081732f72bd04?projector=1)
}

body {
    font-family: sans-serif;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}