

body {
    background-image: url('//themes.googleusercontent.com/image?id=1OACCYOE0-eoTRTfsBuX1NMN9nz599ufI1Jh0CggPFA_sK80AGkIr8pLtYRpNUKPmwtEa&options=w1600');
}
body {
    background-image: url('//themes.googleusercontent.com/image?id=1OACCYOE0-eoTRTfsBuX1NMN9nz599ufI1Jh0CggPFA_sK80AGkIr8pLtYRpNUKPmwtEa');
}
body {
    min-width: 860px;
}
body {
    font: 15px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
    color: #454545;
    }
body {
    word-wrap: break-word;
}
body {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0px;
    padding: 0px 0px 1px;
}
